{# {% extends 'base.html.twig' %}

{% block body %} #}
    <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading">
            <h1>Travels list <small class="lead text-right"><a href="{{ path('travel_new') }}">Create a new travel</a></small></h1>
        </div>

        <div class="table-responsive">
            <table class="table table-bordered table-condensed">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>City1</th>
                        <th>City2</th>
                        <th>Cost</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                {% for travel in travels %}
                    <tr>
                        <td>{{ travel.id }}</td>
                        <td>{{ travel.city1.name }}</td>
                        <td>{{ travel.city2.name }}</td>
                        <td>{{ travel.cost }}</td>
                        <td>
                            <ul>
                                <li>
                                    <a href="{{ path('travel_show', { 'id': travel.id }) }}">show</a>
                                </li>
                                <li>
                                    <a href="{{ path('travel_edit', { 'id': travel.id }) }}">edit</a>
                                </li>
                            </ul>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{# {% endblock %} #}
