{% extends 'base.html.twig' %}

{% block body %}
<div class="container">
    <div class="starter-template">
        <h1>Insert the cities and the cost to travel from one city to other city</h1>
    </div>
    <div class="add-cities col-lg-6">
    	{{ render(controller(
    		'AppBundle:City:new'
    	)) }}
    </div>
    <div class="add-travels col-lg-6" id="add_travels">
    	{{ render(controller(
    		'AppBundle:Travel:new'
    	)) }}
    </div>
    <div class="cities-list col-lg-6" id="cities_list">
    	{{ render(controller(
    		'AppBundle:City:index'
    	)) }}
    </div>
    <div class="travels-list col-lg-6" id="travels_list">
    	{{ render(controller(
    		'AppBundle:Travel:index'
    	)) }}
    </div>
    <div class="calculate col-lg-12">
    	<button type="button" value="calculate" data-loading-text="<i class='fa fa-circle-o-notch fa-spin'></i> processing" class="btn btn-default col-lg-3">Calculate</button>
		<div class="panel panel-default col-lg-8" id="answer" style="display: none; margin-left: 10px">
			<div class="panel-body">
				Panel content
			</div>
		</div>
    </div>
</div><!-- /.container -->
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	<script type="text/javascript">
    $(document).ready(function() {

	    $('form[name=appbundle_city]').submit(function() {
	        $theForm = $(this);
	        $button = $theForm.find('button');
	        //$button.button('loading');

	        // send xhr request
	        $.ajax({
	            type: $theForm.attr('method'),
	            url: $theForm.attr('action'),
	            data: $theForm.serialize()
	        }).done(function(data, $button) {
	        	console.log('Yay! Form sent. ' + data + " - " +$button);
	        	$.get("{{ path('travel_new') }}", function(data) {
	        		$('#add_travels').html(data);
	        		submitTravel();
	        	});
	        	//$button.button('reset');
	        }).fail(function(data, $button) {
	        	console.log('Error city ' + data);
	        	$button.button('reset');
	        });

	        // prevent submitting again
	        return false;
	    });

	    $(".calculate").find("button").click(function(){
	    	$this = $(this);
	    	//$this.button("loading");

	    	$.ajax({
	    		type: 'POST',
	    		url: '{{ path("calculate") }}',
	    	}).done(function(data, $this) {
	    		//$this.button("reset");
	    		$('#answer').toggle('slow');
	    		$('#answer .panel-body').html(data);
	    	});
	    	setTimeout(function() {
		 		$this.button('reset');
			}, 8000);
	    });

		// $('button').on('click', function() {
		// 	var $this = $(this);
		// 	$this.button('loading');
		// 	setTimeout(function() {
		// 		$this.button('reset');
		// 	}, 8000);
		// });
    });

    function submitTravel() {
	    $('form[name=appbundle_travel]').submit(function() {
	            $theForm = $(this);
	            $button = $theForm.find('button');
	            //$button.button('loading');

	            // send xhr request
	            $.ajax({
	                type: $theForm.attr('method'),
	                url: $theForm.attr('action'),
	                data: $theForm.serialize(),
	            }).done(function(data, $button) {
	                console.log('Yay! Form sent city. ' + data);
	                $.get("{{ path('travel_new') }}", function(data) {
	                    $('#add_travels').html(data);
	                    submitTravel();
	                });
	                //$button.button('reset');
	            }).fail(function(data, $button) {
	                console.log('Error travel ' + data);
	                $button.button('reset');
	            });

	            // prevent submitting again
	            return false;
	        });
    	}

    	submitTravel();
    </script>
{% endblock %}