{# {% extends 'base.html.twig' %} #}

{# {% block body %} #}
    <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading">
            <h1>Cities list <small class="lead text-right"><a href="{{ path('city_new') }}">Create a new city</a></small></h1>
        </div>

        <div class="table-responsive">
            <table class="table table-bordered table-condensed">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Name</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                {% for city in cities %}
                    <tr>
                        <td><a href="{{ path('city_show', { 'id': city.id }) }}">{{ city.id }}</a></td>
                        <td>{{ city.name }}</td>
                        <td>
                            <ul>
                                <li>
                                    <a href="{{ path('city_show', { 'id': city.id }) }}">show</a>
                                </li>
                                <li>
                                    <a href="{{ path('city_edit', { 'id': city.id }) }}">edit</a>
                                </li>
                            </ul>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{# {% endblock %} #}